plugins {
	id 'org.springframework.boot' version '2.7.4'
	id 'io.spring.dependency-management' version '1.0.14.RELEASE'
	id 'java'
  id "org.flywaydb.flyway" version "9.4.0"
}

group = 'com.example'
version = '0.0.1-SNAPSHOT'
sourceCompatibility = '17'

// configurations {
// 	compileOnly {
// 		extendsFrom annotationProcessor
// 	}
// }

repositories {
	mavenCentral()
}

dependencies {
	implementation 'org.springframework.boot:spring-boot-starter-data-jpa'
	implementation 'org.springframework.boot:spring-boot-starter-web'
  implementation 'org.springframework.boot:spring-boot-starter-security'
  implementation 'org.springframework.boot:spring-boot-devtools:2.7.4'
  implementation 'org.springframework.boot:spring-boot-starter-validation'
	compileOnly 'org.projectlombok:lombok'
	annotationProcessor 'org.projectlombok:lombok'
	runtimeOnly 'org.postgresql:postgresql'
	testImplementation 'org.springframework.boot:spring-boot-starter-test'
}

tasks.named('test') {
	useJUnitPlatform()
}

flyway {
    url = jdbc:postgresql://<DB_MACHINE_HOSTNAME>:<DB_PORT>/<DB_NAME>
    user = <DB_USER>
    password = <DB_USER_PASSWORD>
    driver = 'org.postgresql.Driver'
    // For development purposes uncomment the following.
    // cleanDisabled = false
}
